    /* Variables */

     :root {
        --basic-black: #333333;
        --basic-extra-black: #000000;
        --basic-white: #FFFFFF;
        --basic-skyblue: #81B3D2;
        --special-middle-blue: #669EC0;
        --special-dark-blue: #5496BD;
        --basic-brown: #766357;
        --special-middle-brown: #604E43;
        --special-dark-brown: #503E33;
        --basic-gray: #CACACA;
        --special-light-gray: #F2F2F2;
    }
    /*Global*/

    .page {
        height: 100%;
    }

    .page-body {
        width: 1280px;
        margin: 0 auto;
        font-family: PT Sans, Arial, sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 26px;
        text-transform: uppercase;
        text-align: center;
        color: var(--basic-extra-black);
        background-color: var(--basic-white);
        background-position: top center;
        min-height: 100%;
    }

    .inner-page-body {
        width: 1280px;
        margin: 0 auto;
        font-family: PT Sans, Arial, sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 26px;
        text-transform: uppercase;
        color: var(--basic-extra-black);
        background-color: var(--basic-white);
    }

    a {
        color: var(--basic-black);
        text-decoration: none;
    }

    .text {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }
    /* Navigation */

    .main-header {
        outline: 5px solid rgba(0, 255, 0, 0.7);
        outline-offset: -5px;
    }

    .main-navigation {}

    .site-navigation {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .info-page:visited {
        color: var(--basic-brown);
    }

    .info-page:hover {
        color: var(--basic-skyblue);
        cursor: default;
    }

    .info-page:active {
        color: var(--basic-extra-black);
        opacity: 0.3;
        cursor: default;
    }
    /* content */

    .container {
        width: 1280px;
        margin: 0 auto;
    }

    .text-wrapper {
        margin: 50px 0px;
    }

    .content-wrapper {
        padding: 50px 0px;
    }

    .features-1 {
        display: flex;
        font-weight: 700;
        font-size: 21px;
        line-height: 21px;
        background-color: var(--basic-skyblue);
        color: var(--basic-white);
        outline: 5px solid #a84040;
        justify-content: space-between;
        padding-left: 70px;
    }

    .features-1 img {
        width: 830px;
    }

    .point h2 {
        line-height: 35px;
    }

    .features-2 {
        display: flex;
        font-weight: 700;
        font-size: 21px;
        line-height: 21px;
        background-color: var(--basic-skyblue);
        color: var(--basic-white);
        justify-content: space-between;
        padding-right: 70px;
    }

    .features-2 img {
        width: 830px;
    }

    .features-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style: none;
    }

    .features-item {
        font-weight: 700;
        font-size: 21px;
        line-height: 21px;
    }

    .subtitle {
        font-size: 30px;
        line-height: 24px;
    }

    .subtitle-text {
        margin: 50px 0px;
    }

    .button-modal-list {
        width: 568px;
        height: 86px;
        background-color: var(--basic-brown);
        color: var(--basic-white);
    }

    .button-modal-list:hover {
        background-color: var(--special-middle-brown);
        cursor: default;
    }

    .button-modal-list:active {
        background-color: var(--special-dark-brown);
        color: var(--basic-gray);
    }
    /* footer */

    .footer-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }

    .social-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-self: center;
        background-color: var(--basic-skyblue);
        list-style: none;
        text-align: center;
    }

    .social-item:hover {
        background-color: var(--special-middle-blue);
    }

    .social-item:active {
        background-color: var(--special-dark-blue);
        opacity: 0.3;
    }

    .copyright {
        display: grid;
        justify-self: end;
    }
    /* modal window */

    .button-modal {
        width: 458px;
        height: 58px;
        background-color: var(--basic-skyblue);
        color: var(--basic-white);
        font-size: 21px;
        line-height: 26px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .button-modal:hover {
        background-color: var(--special-middle-blue);
    }

    .button-modal:active {
        background-color: var(--special-dark-blue);
        color: var(--basic-gray);
    }
    /* content page-catalog */

    .display-none {
        display: none;
    }

    .filter {
        display: grid;
        background-color: var(--basic-skyblue);
        background-image: url("../img/background.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 32px 73px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .price {
        display: grid;
        justify-self: center;
    }

    .inner-features {
        list-style: none;
    }

    .inner-h2 {
        font-size: 16px;
        line-height: 21px;
    }

    .inner_button_filter {
        display: grid;
        background-color: transparent;
        color: var(--basic-white);
        border-color: var(--basic-white);
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        margin-top: 20px;
    }

    .inner_button_filter:hover {
        background-color: var(--basic-white);
        color: var(--basic-black);
    }

    .sorting {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }

    .main-results {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 50px;
    }

    .results {
        padding: 0px 50px;
        font-weight: 700;
        font-size: 21px;
        line-height: 26px
    }

    .sorting-list {
        display: flex;
        flex-direction: row;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        list-style: none;
    }

    .sorting-item a {
        color: var(--basic-gray);
        padding: 20px;
    }

    .sorting-item a:hover {
        color: var(--basic-skyblue);
    }

    .sorting-item a:active {
        color: var(--basic-extra-black);
    }

    .inner-features-list {
        list-style: none;
        font-weight: 700;
        font-size: 21px;
    }

    .text-rating {
        display: grid;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        background-color: var(--special-light-gray);
        justify-self: end;
    }

    .button-info-product {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        background-color: var(--basic-skyblue);
        color: var(--basic-white)
    }

    .button-info-product:hover {
        background-color: var(--special-middle-blue);
        cursor: default;
    }

    .button-info-product:active {
        background-color: var(--special-dark-blue);
        color: var(--basic-gray);
        cursor: default;
    }

    .btn {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        background-color: var(--basic-brown);
        color: var(--basic-white)
    }

    .btn:hover {
        background-color: var(--special-middle-brown);
        cursor: default;
    }

    .btn:active {
        background-color: var(--special-dark-brown);
        color: var(--basic-gray);
        cursor: default;
    }

    .name-content:hover {
        color: var(--basic-skyblue);
        cursor: default;
    }

    .name-content:active {
        color: var(--basic-gray);
        cursor: default;
    }

    .filter-list {
        list-style: none;
    }

    .filter-item {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: var(--basic-white);
    }

    .filter-item:disabled {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #6A6A6A;
        background-color: #6A6A6A;
    }
