/* Variables */

:root {
  --basic-black: #333333;
  --basic-extra-black: #000000;
  --basic-white: #ffffff;
  --basic-skyblue: #81b3d2;
  --special-middle-blue: #669ec0;
  --special-dark-blue: #5496bd;
  --basic-brown: #766357;
  --special-middle-brown: #604e43;
  --special-dark-brown: #503e33;
  --basic-gray: #cacaca;
  --special-light-gray: #f2f2f2;
}
/*Global*/

.page {
  height: 100%;
}

.page-body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: PT Sans, "Arial", "sans-serif";
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 26px;
  color: var(--basic-extra-black);
  background-color: #ebebeb;
  background-position: center;
  height: 100%;
}

.inner-page-body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #ebebeb;
  background-position: center;
}

a {
  color: var(--basic-black);
  text-decoration: none;
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
/* Navigation */

.main-header {
  width: 100%;
  max-width: 1200px;
  background-color: var(--basic-white);
}

.main-navigation {
  width: 100%;
  max-width: 1200px;
}

.logo {
  position: absolute;
  left: 46.5%;
}

.site-navigation {
  display: flex;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0;
  padding: 15px 0px;
  list-style: none;
}

.site-navigation li:nth-child(1) {
  padding-left: 72px;
}

.site-navigation li:nth-child(2) {
  padding-left: 135px;
}

.site-navigation li:nth-child(3) {
  padding-left: 417px;
}

.site-navigation li:nth-child(4) {
  padding-left: 147px;
}

.info-page:visited {
  color: var(--basic-brown);
}

.info-page:hover {
  color: var(--basic-skyblue);
  cursor: default;
  transition: all 0.6s ease-in-out;
}

.info-page:active {
  color: var(--basic-extra-black);
  opacity: 0.3;
  cursor: default;
}
/* content */

.container {
  width: 100%;
  max-width: 1200px;
  background-color: var(--basic-white);
}

.bg-pic {
  background-image: url("../img/background_photo.png");
  width: 1200px;
  height: 510px;
}

.bg-img {
  position: absolute 50%;
  padding-top: 77px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
}

.text-wrapper h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 42px;
  font-size: 21px;
  line-height: 26px;
}

.text-wrapper .text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto 45px;
}

.features-1 {
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  justify-content: space-between;
  background-color: var(--basic-skyblue);
}

.point {
  margin: auto auto;
  background-color: var(--basic-skyblue);
}

.point h2 {
  font-size: 21px;
  line-height: 21px;
}

.features-2 {
  display: flex;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-skyblue);
  color: var(--basic-white);
  justify-content: space-between;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 60px 0px 80px;
  margin: 0 0px;
  list-style: none;
}

.features-list-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 45px 0px 50px;
  margin: 0 0px;
  list-style: none;
  background-color: #f2f2f2;
}

.features-list h2 {
  font-size: 21px;
}

.features-list-2 h2 {
  font-size: 21px;
}

.features-item {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.subtitle {
  font-size: 30px;
  line-height: 24px;
}

.subtitle-text {
  margin: 50px 0px;
}

.subtitle-text h2 {
  font-size: 30px;
}

.button-modal-list {
  width: 568px;
  height: 86px;
  background-color: var(--basic-brown);
  color: var(--basic-white);
}

.button-modal-list:hover {
  background-color: var(--special-middle-brown);
  cursor: default;
}

.button-modal-list:active {
  background-color: var(--special-dark-brown);
  color: var(--basic-gray);
}
/* footer */

.main-footer {
  width: 100%;
  max-width: 1200px;
  background-color: var(--basic-white);
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-wrapper h3 {
  display: none;
}

.contacts {
  font-size: 21px;
}

.social-list {
  display: flex;
  list-style: none;
  background-color: var(--basic-skyblue);
}

.social-item {
  display: flex;
  width: 46px;
  height: 48px;
  align-items: center;
  margin: 0 3px;
}

.social-item:hover {
  background-color: var(--special-middle-blue);
}

.social-item:active {
  background-color: var(--special-dark-blue);
  opacity: 0.3;
}

.copyright {
  display: flex;
}
/* modal window */

.button-modal {
  width: 458px;
  height: 58px;
  background-color: var(--basic-skyblue);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}


 .checkbox {
  display: none;
}

.checkbox-2 {
  display: none;
} 

 .filter-list label {
  display: block;
  position: relative;
  cursor: pointer;
}

.checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 4px;
  background-image: url("../img/icon/square.svg");
  width: 23px;
  height: 23px;
}

.checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -36px;
  top: 5px;
  background-image: url("../img/icon/check.svg");
  width: 22px;
  height: 17px;
}

.checkbox-2 + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 4px;
  background-image: url("../img/icon/square-2.svg");
  width: 23px;
  height: 23px;
}

.checkbox-2:checked + label::after {
  content: "";
  position: absolute;
  left: -36px;
  top: 5px;
  background-image: url("../img/icon/check.svg");
  width: 22px;
  height: 17px;
} 

.filter-list {
  list-style: none;
  outline: 3px solid white;
}

.filter-item {
  margin: 0;
  padding-bottom: 25px;
  font-weight: 400;
  font-size: 14px;
  color: var(--basic-white);
  outline: 3px solid white;
}

.display-none {
  display: none;
}

.services {
  display: flex;
  flex-direction: row;
  margin-left: 72px;
  margin-top: 27px;
  padding: 0px;
  border: none;
  outline: 3px solid white;
}

.services-2 {
  border: none;
  outline: 3px solid white;
}

.filter-list-2 {
  list-style: none;
}

 .filter { 
  display: flex;
  flex-direction: row; 
  width: 100%;
  max-width: 1200px;
  background-color: var(--basic-skyblue);
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  outline: 3px solid black;
}  

.inner-h2 {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.inner_button_filter {
  background-color: transparent;
  color: var(--basic-white);
  border-color: var(--basic-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-top: 20px;
}

.inner_button_filter:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.sorting {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.main-results {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 50px;
  padding-left: 20px;
  border-bottom: 1px solid #e9e9e9;
}

.results {
  padding: 0px 50px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.sorting-list {
  display: flex;
  flex-direction: row;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.sorting-item a {
  color: var(--basic-gray);
  padding: 20px;
}

.sorting-item a:hover {
  color: var(--basic-skyblue);
}

.sorting-item a:active {
  color: var(--basic-extra-black);
}

.inner-features-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 21px;
}

.inner-features-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  max-height: 150px;
  border-bottom: 1px solid #e9e9e9;
}

.inner-features-list img {
  margin: 0px;
  padding-left: 73px;
  padding-top: 30px;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.star {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  left: 475px;
  top: 20px;
  margin: 0px;
  padding: 0px;
  width: 18px;
  height: 17px;
}

.star img {
  margin: 0px;
  padding: 3px;
}

.text-price {
  margin: 10px 0px;
  font-size: 14px;
  font-weight: 400;
}

.price {
  margin: 0px;
  padding: 0px;
}

.text-rating {
  position: relative;
  left: 360px;
  top: 92px;
  margin: 0px;
  width: 110px;
  height: 27px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background-color: var(--special-light-gray);
}

.button-info-product {
  position: relative;
  top: -27px;
  font-weight: 700;
  font-size: 14px;
  width: 110px;
  height: 27px;
  text-align: center;
  align-items: center;
  background-color: var(--basic-skyblue);
  color: var(--basic-white);
}

.button-info-product:hover {
  background-color: var(--special-middle-blue);
  cursor: default;
}

.button-info-product:active {
  background-color: var(--special-dark-blue);
  color: var(--basic-gray);
  cursor: default;
}

.btn {
  position: relative;
  left: 115px;
  top: -54px;
  font-weight: 700;
  font-size: 14px;
  width: 142px;
  height: 27px;
  text-align: center;
  line-height: 26px;
  background-color: var(--basic-brown);
  color: var(--basic-white);
}

.btn:hover {
  background-color: var(--special-middle-brown);
  cursor: default;
}

.btn:active {
  background-color: var(--special-dark-brown);
  color: var(--basic-gray);
  cursor: default;
}

.name-content {
  margin-top: 23px;
  margin-bottom: 0px;
  width: 400px;
}

.name-content:hover {
  color: var(--basic-skyblue);
  cursor: default;
}

.name-content:active {
  color: var(--basic-gray);
  cursor: default;
}
